extends layout.pug

block content
    h1 Les articles

    table.table
        thead
            tr
                th Titre
                th Contenu
                th J'aime
                th Commentaires
                th Supprimer
        tbody
            each article in articles
                tr
                    td= article.title
                    td= article.content
                    td= article.applauseCount
                    td= article.comments
                    td
                        a.btn.btn-error(href='/api/articles/' + article.id + '/delete') Supprimer
